ConsoleApp1/bin/
ConsoleApp1/obj/
swigged.cuda.native/x64/
swigged.cuda/obj/
swigged.cuda/bin/
swigged.cuda.native/x86/
swigged.cuda.native/.vs/
swigged.cuda/.vs/
ConsoleApp1/Project2/x64/
ConsoleApp1/Project2/.vs/
ConsoleApp1/Project2/vc140.pdb
ConsoleApp1/x64/
ConsoleApp1/packages/
ConsoleApp1/.vs/
